#div1{
    border: 2px dashed palevioletred;
    border-radius: 25px;
    background-color: darkgray;
}
#div2{
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(43, 226, 217);
}
#div3{
    border: 2px dotted palegoldenrod;
    border-radius: 25px;
    background-color:burlywood;
}
a:link{
    color: black;
}
a:visited{
    color: navy;
}
a:active{
    color: gray;
}
a{
    border: 2px solid black;
    border-radius: 25px;
    text-decoration: none;
    background-color: azure;
}
a:hover{
    background-color: chartreuse;
}
#grad {
    background-image: linear-gradient(to right, red,yellow);
  }